<mat-form-field>
    <mat-label>bancos</mat-label>
    <mat-select (selectionChange)="changeBank($event.value)">
      <mat-option *ngFor="let bank of banks" [value]="bank">
        {{bank}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div fxLayout='row' fxLayoutWrap class="cards">
    <div fxFlex="20" class="card col-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let product of products">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>{{product.accountInformation.productType}}</mat-card-title>
                <mat-card-subtitle>Nro. {{product.accountInformation.accountIdentifier}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="!(product.accountInformation.productType === 'CREDIT')">
                    <div *ngIf="(!!product.productAccountBalances.saldo_actual)">
                        <p>
                            Saldo - {{product.productAccountBalances.saldo_actual.amount}}
                        </p>
                    </div>
                    <div *ngIf="(!!product.productAccountBalances.valor_constitucion)">
                        <p>
                            Saldo - {{product.productAccountBalances.valor_constitucion.amount}}
                        </p>
                    </div>
                </div>    
            </mat-card-content>
        </mat-card>
        <br>
    </div>    
</div>
