.cards {
    min-width: 100%;
    margin: 40px;

}
.card {
    max-width: 400px;
  }

  .header-image {
    background-image: url("https://img.icons8.com/carbon-copy/100/000000/image.png");
    background-size: cover;
  }